MENU_NAME;MENU_ACTION
CorBene;p:\telematik\ExpertConnect_v2.mp4
expert\nConnect;p:\telematik\expertConnect_v3.mp4
d:\work\logo.png;p:\Temp\cpapenfuss\conHIT\dataImg.GIF
Files\x_out.png;p:\Temp\cpapenfuss\conHIT\xout.GIF