<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSCKinectTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OSCKinectTest.Properties.Settings>
            <setting name="MaxDepth" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxLeft" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxRight" serializeAs="String">
                <value>3</value>
            </setting>
        </OSCKinectTest.Properties.Settings>
    </applicationSettings>
</configuration>