<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectServer.Properties.Settings>
            <setting name="KinectAngle" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>666</value>
            </setting>
            <setting name="AudioServerPort" serializeAs="String">
                <value>667</value>
            </setting>
            <setting name="AudioAnlgeServerPort" serializeAs="String">
                <value>668</value>
            </setting>
            <setting name="HttpPort" serializeAs="String">
                <value>999</value>
            </setting>
        </KinectServer.Properties.Settings>
    </userSettings>
</configuration>